{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block answerfield %}{% endblock %}
{% block menubar %}
  <ul id="swipe" class="tabs card center">
      <li class="tab col s3"><a id="swiper-1" href="#swipe-1" class="black-text">Sign In</a></li>
      <li class="tab col s3"><a id="swiper-2" href="#swipe-2" class="black-text">Sign Up</a></li>
  </ul>
  <br>
{% endblock %}

{% block content %}
  <div id="swipe-1" class="col s12">
      <form class="col s12 m12" method="POST" action="/signin/" accept-charset="UTF-8">
      	{% csrf_token %}
          <div class="row center red-text small"></div>
          <div class="row">
              <div class="input-field col s12 m4 offset-m4 offset-l4">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" name="username" class="validate" required="yes" autocomplete="off" pattern="[A-z0-9_-]{6,15}" maxlength="15" title="Alphanumerics, -  and _ only with 6 to 15 characters">
                <label for="icon_prefix" data-error="Alphanumerics, -  and _ (6-15)">User Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12 m4 offset-m4 offset-l4">
                <i class="material-icons prefix">vpn_key</i>
                <input id="icon_prefix" type="password" name="password" class="validate" required="yes" pattern="[A-z0-9_-]{6,15}" maxlength="15" title="Alphanumerics, -  and _ only">
                <label for="icon_prefix" data-error="Alphanumerics, -  and _ (6-15)">Password</label>
              </div>
          </div>
          <p class="center">
            <input type="checkbox" class="filled-in" id="filled-in-box" name="remember" />
            <label for="filled-in-box">Remember me</label>
          </p>
          <div class="row">
              <div class="input-field col s12 center">
                  <input type="submit" class="waves-effect waves-light btn blue" value="Sign in">
                  Dont have an account? <a href="#" onclick="$('#swiper-2').click();">Register</a>
              </div>
          </div>
      </form>
  </div>

  <div id="swipe-2" class="col s12">
      <form class="col s12 m12" method="POST" action="/signup/" accept-charset="UTF-8">
          {% csrf_token %}
          <div class="row center red-text small" id="signup_errors">
          </div>
          <div class="row">
              <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" class="validate" name="signup_username" id="signup_username" autocomplete="off" required="yes" pattern="[A-z0-9_-]{6,15}" maxlength="15" title="Alphanumerics, -  and _ only">
                <label id="usname_lbl" for="icon_prefix" data-error="Alphanumerics, -  and _ (6-15)" data-success="">User Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" class="validate" name="signup_password" id="signup_password" required="yes" pattern="[A-z0-9_-]{6,15}" maxlength="15" title="Alphanumerics, -  and _ only">
                <label for="icon_prefix" data-error="Alphanumerics, -  and _ (6-15)">Password</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate" name="mobile" id="mobile" autocomplete="off" required="yes" pattern="[0-9]{10}" maxlength="10" title="Enter 10 digits mobile number">
                <label for="icon_telephone" data-error="10 digits mobile number">Mobile</label>
              </div>
          </div>
          <div class="row">
             <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
                <i class="material-icons prefix">account_circle</i>
                <input type="email" class="validate" name="email" id="email" autocomplete="off" required="yes">
                <label id="email_lbl" for="icon_prefix" data-error="Valid email address">Email</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12 center">
                   <input type="submit" class="waves-effect waves-light btn blue" value="Sign up">
                  Already have an account? <a href="#" onclick="$('#swiper-1').click();">Sign in</a>
              </div>
          </div>
      </form>
  </div>
  <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>

{% endblock %}
