{% extends "base.html" %}
{% block title %}Labyrinth{% endblock %}
{% block answerfield %}{% endblock %}
{% block content %}

    <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <h1 class="header center green-text">Welcome to Labyrinth!</h1>
              <div class="row center">
                <h5 class="header col s12 light">Online riddles to puzzle your brain</h5>
              </div>
              <div class="row center">
                    {% if request.user.is_authenticated %}
                    <a href="levels/{{ request.user.userdetails.level }}" id="download-button" class="btn-large waves-effect waves-light green">Lets Play...</a>
                     {% else %}
                    <a href="/account" id="download-button" class="btn-large waves-effect waves-light green">Lets Play...</a>
                    {% endif %}
              </div>
              <br><br>

            </div>
          </div>

        <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m12 l4">
                <h5 class="center">Rules</h5>
                    <ol class="light">
                        <li>Your target is to go to next level by any means</li>
                        <li>Enter the answers in small letters without any spaces.</li>
                        <li>Enter only alphanumerics for answer</li>
                        <li>Google may be your best friend</li>
                    </ol>
            </div>

            <div class="col s12 m12 l4">
                <h5 class="center">Suggestions</h5>
                <ol class="light">
                     <li>Answers can be hidden anywhere in the page in different forms</li>
                     <li>Common places of clues are</li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image name<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last word of the url<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page title / Level Name<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source code of the page. etc<br>
                     <li>Some amount of lateral thinking is required to solve few puzzles</li>
                     <li>Modification of url or page elements to obtain clues might be helpful</li>
                </ol>
            </div>

            <div class="col s12 m12 l4">
                <h5 class="center">Guidelines</h5>
                    <ol class="light">
                        <li>Users are requested not to hack or crack the websites or attempt any kind of alternate methods to get the answer</li>
                        <li>Such accounts will be deleted by admin</li>
                        <li>Anyone can enjoy the game of labyrinth</li>
                        <li>Users with global registration are only allowed for rewards</li>
                        <li>First registered person to complete the game will be anounced as winner</li>
                        <li>Please fill the valid details to during signup</li>
                    </ol>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block footer %}
      <footer class="page-footer light-blue lighten-1">
          <div class="container white-text text-lighten-3">
            Designed and developed by <a class="white-text" href="https://twitter.com/paicube">Sadanand Akshay Pai</a><br><br>
          </div>
      </footer>
{% endblock %}