{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block answerfield %}{% endblock %}
{% block content %}

 <div class="row">
    <div class="col s12 m10 offset-m1">                          
      <table class="table text-center"> 
        <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Level</th>
          <th>Status</th>
        </tr>
        </thead>
        {% for user in users %}
        <tbody>
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.userdetails.level|floatformat:"0" }}</td>

          <td>{% if user.userdetails.online %}
                Online
              {% else %}
                {{ user.userdetails.last_seen|timesince }}
              {% endif %}
              </td>

        </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}