{% extends "base.html" %}
{% block title %}Level 1: Welcome{% endblock %}

{% block levelno %}1.1{% endblock %}

{% block quest %}
	<div class="row">
		<div class="col-m-12">
            {% load static %}
			<img src="{% static 'level1\1.jpg' %}" id="circle" width="600" height="480" usemap="#map"/><br>
            <map name="map">
                <area shape="circle" coords="300,240,55" href="disabled" alt="click">
            </map>
		</div>
	</div>
{% endblock %}    

<!-- Hint -->
<!-- You are just a click away -->