{% extends "base.html" %}
{% block title %}Level 12: Real world{% endblock %}
{% block levelno %}12.1{% endblock %}

{% block quest %}
    <div class="row">
        {% load static %}
        <div class="col-lg-12 text-center">
            <img src="{% static 'level12\o__c___.jpg' %}" alt="100" width="90%" height="350" />   
            <br><font color="white">Sometimes i get confused</font>
        </div>
    </div>
	
<!--- hint ---->
<!--- Azher went to drink a tea in France --->

{% endblock %}