{% extends "base.html" %}
{% block title %}Level 17: Follow Your Instincts{% endblock %}
{% block levelno %}17.1{% endblock %}

{% block quest %}
    <div class="row">
        {% load static %}
        <div class="col-lg-12 text-center">
            <img src="{% static 'level17/humbert.jpg' %}" alt="humbert" width="600" height="500" />     
            <p>This is the trade mark of NASA</p>
        </div>
    </div>

<!--- hint ---->
<!--- Mirror, mirror on the wall, who’s the fairest of them all? --->

{% endblock %}