{% extends "base.html" %}
{% block title %}Level 19: This TIME colors are representating ...{% endblock %}
{% block levelno %}19.1{% endblock %}

{% block quest %}
    <div class="row">
        {% load static %}
        <div class="col-lg-12 text-center">
            <img src="{% static 'level19/marmalade.jpg' %}" alt="marmalade" width="600" height="400" /> <br>
            <font color="white">Give it a SECOND thought</font>
        </div>
    </div>
	
<!--- hint ---->
<!--- He puts few rabbits in forest and what he finds after a year shocks me!!!! --->

{% endblock %}